{% extends 'base.html' %}
{% load static %}
 {% load bootstrap %}
{% block main %}

 <div class="form-group">
     {{object.funcionario}}
   <form method="post" class="px-4 py-3">
    {% csrf_token %}
    {{ form | bootstrap }}
       <button type="submit" class="btn btn-outline-success">Salvar</button>
   </form>

     <button onclick="marcaHoraExtra({{ object.id }})">Marcar</button>
    <br>
    <p id="mensagem"></p>

 </div>

{% endblock %}

{% block static %}

   <script src="{% static 'js/jquery.js' %}"></script>
   <script src="{% static 'js/funcoes-ajax.js' %}"></script>

{% endblock %}